@import "tailwindcss";

:root {
    --background: #141414;
    --foreground: #f9f9f9;
}

@theme inline {
    --color-background: var(--background);
    --color-primary: var(--foreground);
    --color-gray-text: #686868;
    --color-input-bg: #262626;
    --color-secondary-bg: #1f1f1f;
    --color-span: #E3E3E380;
    --color-light-gr: #F9F9F933;
    --text-sm: 12px;
    --text-3xl: 2rem;
    --text-6xl: 4rem;
}


body {
    @apply bg-background text-primary ;
}
